#!/bin/sh
<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="True">
	<testsuites>
		<testsuite name="Test suite">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<php>
		<var name="DB_DSN" value="mysql:dbname=wallesmart;host=192.168.2.1" />
		<var name="DB_USER" value="root" />
		<var name="DB_PASSWD" value="" />
		<var name="DB_DBNAME" value="wallesmart" />
    	</php>
</phpunit>
