<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="True">
	<testsuites>
		<testsuite name="Test suite">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<php>
		<var name="DB_DSN" value="mysql:dbname=myguestbook;host=localhost" />
		<var name="DB_USER" value="user" />
		<var name="DB_PASSWD" value="passwd" />
		<var name="DB_DBNAME" value="myguestbook" />
    	</php>
</phpunit>
