/* HEADER */

header 
{
	background-image: url("../images/top_commercial.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
	border-style: solid;
  	border-width: 1px;
}

header #main_header
{
	display: flex;
	justify-content: space-between;	
	align-items : center;
}

header h1
{
    font-size: 2.5em; 
    font-weight: normal;
   
    border-style: solid;
	border-width: 1px;	
	flex : 1;
}


header nav
{ 
	display:flex;
	 justify-content: space-around;
  background-color: rgba(0,0,100,0.6);
  border-style: solid;
	border-width: 1px;
}

header nav a 
{  
	border-style: solid;
	border-width: 1px;
  	color : white;
  	text-align: center;
  	padding: 14px 16px;
  	flex : 1;
}

header nav h2
{
    font-weight: normal;   
    border-style: solid;
	border-width: 1px;
	color : white;
	flex : 1;
}


body 
{
	background-color: #c6eaae;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#logo
{
	display: flex;
    flex-direction: row;
    align-items: center;
}

#logo img
{
    width: 100px;
    height: 100px;
}

nav ul

{
    list-style-type: none;
    display: flex;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

section
{
    display: flex;
    margin-bottom: 20px;
}


article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}
