/* HEADER */

/*Tout est encadré pour l'instant pour mieux comprendre le flex*/

body  /* Couleur de fond pour l'ensemble */
{
/*	background-color: #c6eaae; Couleur Francois :D */
	
	background-color: rgba(237, 242, 249,0.5);
}

#bloc_page /*Marge pour l'ensemble de la page*/
{
    width: 95%;
    margin: auto;
}



h2
{
	margin-left: 100px;
}


header
{
	/*background-image: url("../images/top_commercial2.png");
	background-repeat: no-repeat;
	background-position: top left;*/
	
	
	border-style: solid;
  	border-width: 1px;
  	border-radius: 5px;
  	box-shadow: 0px 2px 5px #1c1a19;
  	margin-bottom: 20px;
}

#logo /* Contient les items img, h1, et nav*/
{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(48, 83, 163,1);
}

#logo img /*Logo AWE*/
{
	border-style: solid;
	border-width: 1px;
    width: 100px;
    height: 100px;    
}

#logo h1 /*Modification du flex du titre*/
{
	flex : 3;	
	color: white;
}

#logo nav
{ 	
	flex : 1;
}

header nav a  /*Couleur du texte de nav*/
{  
  	color : white;   
}
header nav li /*Défini les boutons*/
{
	width : 90px;
	padding: 12px 0px;
	text-align: center;
	color : white;   
	/*border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
}
nav ul /*Gestion des déplacements des boutons*/

{
    list-style-type: none;
    padding: 5px 5px;	
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 /*Style général pour les titres h1*/
{
	font-size: 2.5em; 
    font-weight: normal;
   	text-align: center;
   	flex: 3
}

aside h3
{
	text-align: center;
}

aside
{
	flex: 1;
    position: relative;
    background-color: rgba(48, 83, 163,1);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin: 15px 0px;
    border-color: black;
    border-style: solid;
	border-width: 1px;
	min-width: 250px;
}

.supprimer
{
    float: right;
    background-color: rgba(0,0,100,0.5);
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin: 15px 0px;
    border-color: black;
    border-style: solid;
	border-width: 1px;
}

label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
  
section
{ 
    margin-bottom: 20px;
    justify-content: space-between;
    border-style: solid;
	border-width: 1px;
	clear : left;	
	border-radius: 5px;
  	box-shadow: 0px 2px 5px #1c1a19;
  	background-color: #c3e5f5;
  	 padding: 5px 5px;	
}

#top_page
{
	display : flex;
	flex-wrap: wrap;
	 /*border-style: none;	 Ajouter pour supprimer le cadre du btn supprimer*/
}

#account_information
{	
	 margin-left: auto;
 	 margin-right: auto; 
}

article, aside
{
    text-align: justify;
}

h3
{

}

article
{	 

	overflow: hidden;	
}

#centerButton
{
text-align:center;
margin:auto;
}

.connexion
{
	list-style-type: none;
    padding: 5px 5px;	
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    display: inline-block;
  	width: 140px;
  	text-align: left;
}

.TextWrap
{	
	float: left;
	margin : 18px;
}


article img
{    
    max-width: 25%;
    min-width: 200px;
    max-height: 25%;
    border-style: solid;
	border-width: 1px;
}


@media (max-width: 660px) 
{
    header h1
    {
        display: none;
    }
}

@media (max-width: 410px) 
{
	label 
	{	
  	text-align: left;
	}
}

.button {       /* ---------------test michael
  background-color: #0080ff;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 14px;
}
*/