<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" backupStaticAttributes="false"bootstrap="configuration.php" cacheTokens="false" colors="false">
	<testsuites>
		<testsuite name="Connection">
    		<directory suffix="Test.php">Connection</directory>
    	</testsuite>
  	</testsuites>
</phpunit>